.logo {
    margin-bottom: 50px;
}

#form_signin {
    width: 300px;
    margin: auto;
}

#form_signup {
    width: 300px;
    margin: auto;
}

.btn_sign-in {
    width: 100% !important;
    margin-bottom: 10px;
}

.warning-text {
    color: #ff0000;
}

.center {
    text-align: center;
}
.hidden {
    display: none;
}
